
Python_Files/__pycache__/UEFA.cpython-39.pyc
Python_Files/__pycache__/Stadiums.cpython-39.pyc
Python_Files/__pycache__/Round_Simulation.cpython-39.pyc
Python_Files/__pycache__/Match_Day_Simulation.cpython-39.pyc
Python_Files/__pycache__/Commentary.cpython-39.pyc
.idea/WorldCup.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
